@import "tailwindcss";

:root {

  --primary-burgundy: #662222;    
  --accent-rose: #842A3B;        
  --deep-wine: #3E0703;         


  --text-main: #660B05;          
  --text-body: #121212;         
  
  --bg-creamy: #FFF0C4;          
  --bg-sand: #F5DAA7;           
  --white-pure: #ffffff;

  --border-color: #A3485A;       
  --error-red: #8C1007;         
}


@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}


body {
  background-color: #141414; 
  margin: 0;
  padding: 0;
}


